html,body {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
    /* background-color:#615f5f; */

}

.traffic-signal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.system-name {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.intersection {
    position: relative;
    width: 600px;
    height: 360px;
    background-color: #777;
}

.road {
    position: absolute;
    background-color: #333;
}

.vertical-road {
    width: 40px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-road {
    width: 100%;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.traffic-signal {
    width: 67px;
    height: 160px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
}

.traffic-signal-1 {
    /* top: 10px;  */
    right:50px;
    left: calc(50% - 110px); 
}

.traffic-signal-2 {
    top: 44px; 
    left: calc(50% + 100px);
    transform: rotate(90deg);

}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: black;
    transition: background-color 0.9s;
    border: 2px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.label {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap; 
}

.label-1 {
    top: 7px;
    left: calc(50% - 200px); 
    transform: translateX(-50%);
}

.label-2 {
    top: 7px;
    left: calc(50% + 200px); 
    transform: translateX(-50%);
}


.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: rgb(87, 233, 100) !important;
}

.black {
    background-color: black !important;
}
