html, body {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
}

.traffic-signal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.system-name {
    text-align: center;
    margin-top: 35px;
    color: rgb(17, 110, 110);
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.intersections-container {
    display: flex;
    justify-content: center;
    /* gap: 50px; */
}

.intersection {
    position: relative;
    width: 400px; 
    height: 280px; 
    background-color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intersection-label {
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 130px;
}

.road {
    position: absolute;
    background-color: #333;
}

.vertical-road {
    width: 30px; 
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-road {
    width: 100%;
    height: 30px; 
    top: 50%;
    transform: translateY(-50%);
}

.traffic-signal {
    width: 43px; 
    height: 100px; 
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
}

.traffic-signal-1 {
    top:160px;
    left: calc(50% - 65px);
    transform: rotate(180deg) 
}

.traffic-signal-2 {
    top: 20px; 
    left: calc(50% + 30px); 
}

.light {
    width: 30px; 
    height: 60px; 
    border-radius: 50%;
    margin: 5px 0;
    background-color: black;
    transition: background-color 0.9s;
    border: 2px solid #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: rgb(87, 233, 100) !important;
}

.black {
    background-color: black !important;
}
